<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>ClassIn | 專屬輔大人的修課經驗交流平台</title>
<meta http-equiv="pragma" content="no-cache">
<meta name="description" content="專屬輔大學生的修課評價網站，來看看學長姐們對於不同課程的評價、也分享你這學期所修的課吧！">
<meta name="author" content="ClassIn"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<link rel="shortcut icon" type="image/x-icon" href="favicon.png?v=1.2">
<!-- production version, optimized for size and speed -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!-- axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- element ui -->
<link rel="stylesheet" href="./asset/theme/index.css">
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- icon Front -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<!-- custom css -->
<link rel="stylesheet" href="./asset/style.css?ver=1.5.6">
<meta property="og:title" content="ClassIn | 專屬輔大人的修課經驗交流平台"/>
<meta property="og:description" content="專屬輔大學生的修課評價網站，來看看學長姐們對於不同課程的評價、也分享你這學期所修的課吧！" />
<meta property="og:image" content="./asset/og_cover.jpg"/>
<meta property="og:url" content="https://classin.info"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="ClassIn"/>
</head>
<body>
  <div id="app">
    <el-container>
        <el-header class="head fixed">
            <a href="./"><img src="./asset/logo_header.svg" style="height:36px; margin-top: 11px;"></a>
        </el-header>
        <div class="head-right-menu " v-if="!mobile()">
          <a href="./view"><el-button plain round class=" c-btn-head c-btn-head-active">查看評價</el-button></a>
          <a href="./add"><el-button plain round class=" c-btn-head">新增評價</el-button></a>
        </div>
        <div class="m-head-right-menu" v-else>
          <a href="./view"><div class="m-head-right-menu-br m-right-menu-active"><i class="fas fa-eye"></i></div></a>
          <a href="./add"><div class="m-head-right-menu-br"><i class="fas fa-pen-fancy"></i></div></a>
        </div>
        <div class="m-head-right-menu m-filter-bar">
          <div class="m-head-right-menu-br" @click="mFilterVisible = true"><i class="fas fa-filter"></i></div>
          <div class="m-head-right-menu-br" @click="mOrderVisible = true"><i class="fas fa-sort"></i></div>
          <div class="m-head-right-menu-br" @click="mSearchVisible = true"><i class="fas fa-search"></i></div>
        </div>
        <div class="fixed" style="top:60px;" v-if="!mobile()">
          <el-row :gutter="20" class="filter_bar">
            <template v-for="item of filters">
                <el-col :span="3">
                  <el-button 
                    plain 
                    class="c-full c-btn" 
                    size="medium"
                    @click="onFilter(item.action)"
                    v-bind:class="{'filter-active': item.active}"
                    >{{item.title}}
                  </el-button>
                </el-col>
            </template>
            <el-col :span="6">
              <el-tooltip class="item" effect="dark" content="評價編號、課程名稱或教師姓名" placement="left">
                <el-input placeholder="評價編號、課程名稱或教師姓名" v-model="searchVal" @change="onSearch()" class="input-with-select c-full">
                  <el-button slot="append" icon="el-icon-search" @click="onSearch()"></el-button>
                </el-input>    
              </el-tooltip>            
            </el-col>
          </el-row>
        </div>
        <div class="order_bar_br fixed" v-if="!mobile()">
          <el-row :gutter="10" class="order_bar">
            <el-col :span="3" class="order_bar_title">
                排序依照：               
            </el-col>
            <template v-for="item of orders">
                <el-col :span="3">
                  <el-button 
                    plain class="c-full c-btn-order" 
                    round size="small"
                    @click="onOrder(item.action)"
                    v-bind:class="{'c-btn-order-active': item.active}"
                    >{{item.title}}</el-button> 
                </el-col>
            </template>
          </el-row>
        </div>
        <el-main class="review_frame">
          <div v-if="!loading">
            <template v-for="(item, index) of currentData">
              <el-row class="card card_bar">
                <el-col :xs="8" :sm="8" :md="4" :lg="3">
                  <div class="class_items_head_title"># {{item.index}}</div>
                  <br/>
                  <div>{{item.studyTime}}</div>
                  <div>{{item.classOpen}}</div>
                  <div>{{item.section}}</div>
                  <div>{{item.classType}}</div>
                  <div v-if="item.ifHistory=='是'">（歷史）</div>
                </el-col>
                <el-col :xs="10" :sm="10" :md="7" :lg="6">
                  <div class="class_items_head_title">{{item.className}}</div>
                  <div class="class_items">
                    <!-- 收穫多少 -->
                    <el-row class="class_items_row">
                      <el-col :lg="6">
                        <template v-if="currentOrder == 'learned'">
                            <div class="text-hightlight"></div>
                          </template>
                          <div>{{sourceData.Header.lvLearned}}</div>
                      </el-col>
                      <el-col :lg="18">
                        <i v-for="n in item.lvLearned" class="dot dot-lightA"></i><i v-for="n in (5-item.lvLearned)" class="dot"></i>
                      </el-col>
                    </el-row>
                    <!-- 課程有趣 -->
                    <el-row class="class_items_row">
                        <el-col :lg="6">
                          <template v-if="currentOrder == 'fun'">
                              <div class="text-hightlight"></div>
                            </template>
                            <div>{{sourceData.Header.lvFun}}</div>
                        </el-col>
                        <el-col :lg="18">
                          <i v-for="n in item.lvFun" class="dot dot-lightA"></i><i v-for="n in (5-item.lvFun)" class="dot"></i>
                        </el-col>
                      </el-row>
                    <!-- 作業量 -->
                    <el-row class="class_items_row">
                      <el-col :lg="6">
                        <template v-if="currentOrder == 'work'">
                            <div class="text-hightlight"></div>
                          </template>
                          <div>{{sourceData.Header.lvWork}}</div>
                      </el-col>
                      <el-col :lg="18">
                        <i v-for="n in item.lvWork" class="dot dot-lightB"></i><i v-for="n in (5-item.lvWork)" class="dot"></i>
                      </el-col>
                    </el-row>
                    <!-- 作業類型 -->
                    <el-row class="class_items_row">
                      <el-col>
                        <el-tag v-if="item.ifOtherWork!='無' && item.ifOtherWork=='有'" color="#A79C8E" class="c-tag">{{sourceData.Header.ifOtherWork}}</el-tag>
                        <el-tag v-else-if="item.ifOtherWork!='無' && item.ifOtherWork!=null" color="#A79C8E" class="c-tag">{{item.ifOtherWork}}</el-tag>
                        <el-tag v-if="item.ifPersonalReport=='有'" color="#A79C8E" class="c-tag">{{sourceData.Header.ifPersonalReport}}</el-tag>
                        <el-tag v-if="item.ifGroupReport=='有'" color="#A79C8E" class="c-tag">{{sourceData.Header.ifGroupReport}}</el-tag>
                      </el-col>
                    </el-row>
                    <!-- 考試量 -->
                    <el-row class="class_items_row">
                      <el-col :lg="6">
                        <template v-if="currentOrder == 'exam'">
                            <div class="text-hightlight"></div>
                          </template>
                          <div>{{sourceData.Header.lvExamAmount}}</div>
                      </el-col>
                      <el-col :lg="18">
                        <i v-for="n in item.lvExamAmount" class="dot dot-lightB"></i><i v-for="n in (5-item.lvExamAmount)" class="dot"></i>
                      </el-col>
                    </el-row>
                    <!-- 考試類型 -->
                    <el-row class="class_items_row">
                      <el-col>
                        <el-tag v-if="item.ifOtherExam!='無' && item.ifOtherExam=='有'" color="#A79C8E" class="c-tag">{{sourceData.Header.ifOtherExam}}</el-tag>
                        <el-tag v-else-if="item.ifOtherExam!='無' && item.ifOtherExam!=null" color="#A79C8E" class="c-tag">{{item.ifOtherExam}}</el-tag>
                        <el-tag v-if="item.ifSmallExam=='有'" color="#A79C8E" class="c-tag">{{sourceData.Header.ifSmallExam}}</el-tag>
                        <el-tag v-if="item.ifMidExam=='有'" color="#A79C8E" class="c-tag">{{sourceData.Header.ifMidExam}}</el-tag>
                        <el-tag v-if="item.ifFinalExam=='有'" color="#A79C8E" class="c-tag">{{sourceData.Header.ifFinalExam}}</el-tag>
                      </el-col>
                    </el-row>
                  </div>
                </el-col>
                <el-col :xs="6" :sm="6" :md="5" :lg="6">
                  <div class="class_items_head_title">{{item.teaher}}</div>
                  <div class="class_items">
                    <!-- 講課清晰 -->
                    <el-row class="class_items_row">
                      <el-col :lg="6">
                        <div>{{sourceData.Header.lvTeachlear}}</div>
                      </el-col>
                      <el-col :lg="18">
                        <i v-for="n in item.lvTeachlear" class="dot dot-lightA"></i><i v-for="n in (5-item.lvTeachlear)" class="dot"></i>
                      </el-col>
                    </el-row>
                    <!-- 老師要求 -->
                    <el-row class="class_items_row">
                      <el-col :lg="6">
                        <template v-if="currentOrder == 'request'">
                            <div class="text-hightlight"></div>
                          </template>
                          <div>{{sourceData.Header.lvRequest}}</div>
                      </el-col>
                      <el-col :lg="18">
                        <i v-for="n in item.lvRequest" class="dot dot-lightB"></i><i v-for="n in (5-item.lvRequest)" class="dot"></i>
                      </el-col>
                    </el-row>
                  </div>
                </el-col>
                <el-col :xs="24" :sm="24" :md="8" :lg="9">
                  <div style="font-size:1.25rem;margin-top:0.3rem;margin-bottom:0.5rem;">
                    <el-row class="class_items_row">
                        <el-col :lg="8">
                            <i v-for="n in Number(item.lv_recommend)" class="fas fa-heart heart-margn" style="color:#EB9F9F"></i>
                        </el-col>
                        <el-col :lg="16">
                          {{item.createDate}}
                        </el-col>
                      </el-row>
                  </div>
                  <div>{{item.message}}</div>
                </el-col>
              </el-row>
            </template>
            <div class="more_frame" v-if="ifMore">
              <el-button plain round class="c-full c-btn-more" style="max-width:600px;" @click="more()">顯示更多</el-button>
            </div>
            <div class="more_frame" style="color:#A79C8E" v-else>
              <h5>-- 沒有更多資料惹 --</h5>
            </div>
          </div>
        </el-main>
        <el-footer class="fixed footer" height=40>
          2018 weiliewonka 
        </el-footer>
        <div v-if="loading" class="loading">
            <i class="fas fa-circle-notch fa-spin 7x loading-icon"></i>
        </div>
    </el-container>
    <el-dialog
      title="通識類別："
      :visible.sync="mFilterVisible"
      fullscreen = true
      :before-close="dialogClose">
      <el-row :gutter="20" class="filter_bar">
        <template v-for="item of filters">
            <el-col :span="24">
              <el-button 
                plain 
                class="c-full c-btn c-btn-m" 
                size="medium"
                @click="onFilter(item.action)"
                v-bind:class="{'filter-active': item.active}"
                >{{item.title}}
              </el-button>
            </el-col>
        </template>
      </el-row>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="mFilterVisible = false" class="c-full">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="排序依照："
      :visible.sync="mOrderVisible"
      fullscreen = true
      :before-close="dialogClose">
      <el-row :gutter="20" class="filter_bar">
        <template v-for="item of orders">
            <el-col :span="24">
              <el-button 
                plain 
                class="c-full c-btn c-btn-m" 
                size="medium"
                @click="onOrder(item.action)"
                v-bind:class="{'filter-active': item.active}"
                >{{item.title}}
              </el-button>
            </el-col>
        </template>
      </el-row>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="mOrderVisible = false" class="c-full">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="搜尋評價編號、課程名稱或教師姓名："
      :visible.sync="mSearchVisible"
      width=100vw
      :before-close="dialogClose">
      <el-input 
        placeholder=""
        v-model="searchVal"
        class="c-full"
        style="border-radius:0px;"></el-input>   
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="onSearchM()" class="c-full">确 定</el-button>
      </span>
    </el-dialog>
  </div> <!-- app -->
<!-- custom js -->
<script src="./asset/app.js?ver=1.5.6"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125886689-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-125886689-1');
</script>
</body>
</html>
